name: CI

on:
  push:
    branches: 
      - 'master'
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 8
      uses: action/etup-java@v1
      with:
        java-version: 1.8
    - name: build android APK
      run: bash ./gradlew assembleDebug --stacktrace
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
          name: app
          path: app/build/outputs/apk/debug/app-debug.apk
     
